@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

body {
  font-family: "Architects Daughter", cursive;
  margin-left: 175px;
  margin-top: 70px;
}

table, td, tr {
  border: 1px solid black;
}

table {
  width: 100%;
  table-layout: fixed;
}

td {
  text-align: center;
  overflow: hidden;
  font-family: "Architects Daughter", cursive;
}

td:hover {
  background-color: #FAFAFA; 
}


#new-game {
  margin-top: 50px;
  margin-bottom: 20px;
  position: relative;
}

#who-won {
  position: absolute;
  left: 150px;
  top: 55px;
}